* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem 0 1.5rem;
}

.logo {
    height: 2rem;
    width: 2rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7491%) hue-rotate(289deg) brightness(103%) contrast(101%);
    cursor: pointer;
}

.home-logo {
    display: flex;
    gap: 0.7rem;
    padding-left: 0.6rem;
}

.home {
    margin: 0.1rem;
    height: 3rem;
    width: 3rem;
    background-color: #282727;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}

.home:hover {
    opacity: 1;
    transform: scale(1.05);
}

.home span {
    font-size: 2rem;
    transform: translate(0.5rem,0.4rem);
}

.input {
    position: relative;
}

.search-input {
    background-color: #222121;
    padding: 0.9rem 3rem;
    margin: 0.1rem;
    border: none;
    border-radius: 100px;
    width: 30rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.input .search {
    font-size: 1.9rem;
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s linear;
}

.input .search:hover {
    opacity: 1;
    transform: scale(1.05);
}

.input .browse {
    font-size: 1.9rem;
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s linear;
}

.input .browse:hover {
    opacity: 1;
    transform: scale(1.05);
}

.input .line {
    position: absolute;
    top: 0.75rem;
    right: 3.3rem;
    width: 0.07rem;
    background-color: #fff;
    height: 1.6rem;
    opacity: 0.7;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 0.5rem;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

a {
    text-decoration: none;
    color: white;
}

.details-d {
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 600;
}

.details-d:hover {
    opacity: 1;
    transform: scale(1.05);
}

.line2 {
    width: 0.07rem;
    background-color: #fff;
    height: 1.6rem;
    opacity: 0.7;
}

.details2 {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 0.8rem;
}

.installed {
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 600;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.fa-regular {
    margin-right: 0.5rem;
    font-weight: 500;
    transform: translateY(0.17rem);
}

.installed:hover {
    opacity: 1;
    transform: scale(1.05);
}

.sign {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.6;
}

.sign:hover {
    opacity: 1;
    transform: scale(1.05);
}

.log {
    color: black;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 0.8rem 1.6rem;
    margin: 0.2rem;
}

.log:hover {
    transform: scale(1.05);
}

.main {
    background-color: black;
    height: 92vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-template-rows: 88% 11%;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.library {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin-bottom: 0.75rem;
}

.lib-heading {
    font-size: 0.9rem;
    font-weight: 700;
    cursor: default;
}

.add {
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #232323;
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 100px;
    cursor: pointer;
}

.fa-plus {
    margin-right: 0.3rem;
    opacity: 0.7;
    transform: translateY(0.15rem);
}

.box1 {
    background-color: #212020;
    margin: 0.5rem;
    border-radius: 0.6rem;
    padding: 0.9rem;
}

.box-p1 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem;
    cursor: default;
}

.box-p2 {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0.6rem;
    cursor: default;
}

.box-but {
    color: black;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 650;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 0.9rem;
    margin: 0.6rem 0 0 0.6rem;
    cursor: pointer;
}
.box-but:hover {
    transform: scale(1.05);
}

.box2 {
    margin-top: 1.5rem;
}

.imp-det {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.det1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 1rem;
}

.det1 a {
    font-size: 0.65rem;
    font-weight: 400;
    opacity: 0.7;
}

.det2 .under {
    opacity: 1;
    font-size: 0.7;
    font-weight: 500;
}

.under:hover {
    text-decoration: underline;
}

.language {
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 0.4rem 0.75rem;
    margin: 1rem 0 0 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;
}

.language span {
    font-size: 1.3rem;
    opacity: 0.9;
}

.language:hover {
    border: 0.8px solid white;
    transform: scale(1.05);
}

.mm {
    background-color: #121212;
    border-radius: 0.6rem;
}

.main-content {
    background: #222121;
    background: linear-gradient(180deg, rgba(34, 33, 33, 1) 0%, rgba(18, 18, 18, 1) 100%);
    padding-top: 1.5rem;
    overflow: auto;
}

.part h2 {
    margin-bottom: 0.5rem;
    padding-left: 2.3rem;
}

.part h2 a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    margin-left: 1.6rem;
    margin-bottom: 2.25rem;
}

.card {
    padding-top: 0.25rem;
    height: 18rem;
    width: 12rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
    position: relative;
}

.card:hover {
    background-color: #232323;
    border-radius: 1rem;
}


.card-img {
    padding-top: 0.25rem;
    height: 11rem;
    width: 11rem;
    border-radius: 10px;
}

.song-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0.5rem;
    gap: 0.65rem;
}

.song-name {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.song-name:hover {
    text-decoration: underline;
}

.songdetail {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.7;
    line-height: 1.3rem;
}

.songdetail:hover {
    text-decoration: underline;
}

.icon_1 {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #1db954;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7.25rem;
    right: 0.9rem;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.fa-play {
    font-size: 1.25rem;
    color: black;
}

.card:hover .icon_1 {
    opacity: 1;
    transform: translateY(0px);
}
.card2 {
    padding: 0.5rem;
    height: 16rem;
    width: 12rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
    position: relative;
}

.card2 .icon_1 {
    bottom: 4.25rem;
}

.card2:hover .icon_1 {
    opacity: 1;
    transform: translateY(0px);
}

.card2 .icon_2 {
    bottom: 5rem;
}

.card2:hover {
    background-color: #232323;
    border-radius: 1rem;
}

.singer-img {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
}

.singer-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.singer-name:hover {
    text-decoration: underline;
}

.singerdetail {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.singerdetail:hover {
    text-decoration: underline;
}

.useful_info {
    margin: 5rem 1.5rem 2rem 1.5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.useful-info {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.company {
    font-size: 0.95rem;
    font-weight: 700;
}

.info {
    font-size: 0.85rem;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
}

.info:hover {
    text-decoration: underline;
    opacity: 1;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.icon-1 {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(39, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 1.25rem;
    opacity: 0.8;
}

.icon-1:hover {
    background-color: #373737;
}
.basic {
    padding-left: 1.25rem;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 2rem;
}

.player-bar {
    background: #8a2a9b;
    background: linear-gradient(90deg, rgba(138, 42, 155, 1) 19%, rgba(83, 204, 237, 1) 100%);
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 0.4rem;
}

.detailed {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
}

.review {
    font-size: 0.9rem;
    font-weight: 600;
}

.best_detail {
    font-size: 0.9rem;
    font-weight: 500;
}

.sign-up {
    color: black;
    background-color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
}

.sign-up:hover {
    transform: scale(1.05);
}
